@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

.header-box h2{
  border: solid 3px black;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  padding: 12px 40px;
  white-space: nowrap;
}

body{
  text-align: center;
  margin-top: 15%;
}

h1 {
    color: #222;
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#photo_section h1{
  font-size: 2.5rem;
}

p, div{
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #162521;
  line-height: 25px
}
.icons {
  margin-top: 40px;
  margin-left: 5px;
  font-size: 30px;
} 

.icons a {
  color: #E6E6E6;
  padding: 0 8px 4px;
}

.icons a:hover {
  color: #ff4141;
}